<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>🅱︎🅰︎🅲🅺🅴🅽🅳 🅳🅴🆅🅴🅻🅾︎🅿︎🅴🆁💻👨‍💻</title>
  <meta name="description" content="">
  <meta name="keywords" content="">


  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="https://www.instagram.com/godwilling_python_programmer/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">🄱🄰🄲🄺🄴🄽🄳 🄳🄴🅅🄴🄻🄾🄿🄴🅁</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'home' %}" class="active">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'resume' %}">Resume</a></li>
          <li><a href="{% url 'services' %}">Services</a></li>
          <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img style="background: linear-gradient(5deg, rgba(0, 0, 0, 0.615), rgba(0, 0, 0, 0.265));" src="{% static 'assets/img/hero-bg.webp' %}" alt="" data-aos="fade-in">

      <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h2 style="color: black;">🅱︎🅰︎🅲🅺🅴🅽🅳 🅳🅴🆅🅴🅻🅾︎🅿︎🅴🆁</h2>
        <p>I'm <span class="typed"  style="color: black;" data-typed-items="🅷🅰︎🅲🅺🅴🆁👨‍💻, 🅳🅴🆅🅴🅻🅾︎🅿︎🅴🆁💻, 🅿︎🆁🅾︎🅶🆁🅰︎🅼🅼🅴🆁🖥,🅱︎🅻🅾︎🅶🅶🅴🆁📙, 🅿︎🆄🅱︎🅶🅴🆁🎮🔫,🆂︎🆃🆁🅴🅰︎🅼🅴🆁💻💯🔫"></span><span class="typed-cursor typed-cursor--blink"></span></p>
        <div class="social-links">
          <a style="color: blue;" href="https://t.me/Sigma_Boy_No1"><i class="bi bi-telegram"></i></a>
          <a style="color: black;" href="https://x.com/King1834931"><i class="bi bi-twitter-x"></i></a>
          <a style="color: rgb(237, 108, 104);" href="https://www.instagram.com/godwilling_python_programmer/"><i class="bi bi-instagram"></i></a>
          <a style="color: red;" href="https://www.youtube.com/@maxmudmamadaliyev624"><i class="bi bi-youtube"></i></a>
        </div>
      </div>

    </section><!-- /Hero Section -->

  </main>

  <footer id="footer" class="footer dark-background">
    <div class="container">
      <h3 class="sitename">Personal Portfolio</h3>
      <p>And either he who flees them is nothing. With great physical effort, choosing a flight is often the most convenient thing to do.</p>
      <div class="social-links d-flex justify-content-center">
        <a href="https://x.com/King1834931"><i class="bi bi-twitter-x"></i></a>
        <a href="https://t.me/Sigma_Boy_No1"><i class="bi bi-telegram"></i></a>
        <a href="https://www.instagram.com/godwilling_python_programmer/"><i class="bi bi-instagram"></i></a>
        <a href="https://github.com/siteoo55555"><i class="bi bi-github"></i></a>
        <a href="https://www.youtube.com/@maxmudmamadaliyev624"><i class="bi bi-youtube"></i></a>
      </div>
      <div class="container">
        <div class="copyright">
        </div>
        <div class="credits"> 
          Designed by <a href="https://t.me/Sigma_Boy_No1" target="_blank">🅱︎🅰︎🅲🅺🅴🅽🅳 🅳🅴🆅🅴🅻🅾︎🅿︎🅴🆁💻👨‍💻</a>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>