<!-- <html><head></head><body><form></form>
    <input type="radio" id="radio1" name="gender" value="male">
    <label for="radio1">Male</label><br>
    
    <input type="radio" id="radio2" name="gender" value="female">
    <label for="radio2">Female</label><br>
    
    <input type="radio" id="radio3" name="gender" value="other">
    <label for="radio3">Other</label><br><br>
    
    <input type="button" value="Submit" onclick="myFunction()">
    </form>
    <style>
        input[type=radio] {
width: 20px;
height: 20px;
}
    </style>
    <script>
function myFunction() {
    alert('🅽🅸🅲🅴 🅰︎🆁🅴 🆈🅾︎🆄 🆂︎🆄🆁🅴?')
}

    </script></body></html> -->
