<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>🅱︎🅰︎🅲🅺🅴🅽🅳 🅳🅴🆅🅴🅻🅾︎🅿︎🅴🆁💻👨‍💻</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="https://www.shutterstock.com/image-vector/programmer-on-desktop-computer-coding-600w-287372561.jpg" rel="icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Personal
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="services-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="https://www.instagram.com/godwilling_python_programmer" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">🄱🄰🄲🄺🄴🄽🄳 🄳🄴🅅🄴🄻🄾🄿🄴🅁</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'resume' %}">Resume</a></li>
          <li><a href="{% url 'services' %}" class="active">Services</a></li>
          <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Services</h1>
              <p class="mb-0">I hate it, and whence it is softened. Never give up training. Pleasure will be obtained from services which are hateful, so that from hate there will be pleasure. Let the pains of the debts of the truth be born of the pains. It is as if they are rational. Let him seek the pain itself.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="current">Services</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href="{% url 'service_details' %}" class="stretched-link">
                <h3>They do not know Mete</h3>
              </a>
              <p>They provide nothing less for those who succeed, not all elders. Those who accuse them will suffer less pains in time and consequences.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <a href="{% url 'service_details' %}" class="stretched-link">
                <h3>Eosle Commodus</h3>
              </a>
              <p>As, however, or not a. Let it be easy for they are just. He is not here, so that they do not know the pain of the corrupted child.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <a href="{% url 'service_details' %}" class="stretched-link">
                <h3>Ledo market</h3>
              </a>
              <p>To receive the pleasure unless but. A certain flight will result. Or less. Or those who get that pleasure, those who are corrupted by them.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <a href="{% url 'service_details' %}" class="stretched-link">
                <h3>It favors the rougher</h3>
              </a>
              <p>Not at all times, but suffering is the consequence. But it is the error of greed that they do not provide for that flight to be obtained.</p>
              <a href="{% url 'service_details' %}" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <a href="{% url 'service_details' %}" class="stretched-link">
                <h3>Love and pain</h3>
              </a>
              <p>And he often receives it. But it is easy for the elders to be either of the body itself or But his mind and other things are labored.</p>
              <a href="{% url 'service_details' %}" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <a href="{% url 'service_details' %}" class="stretched-link">
                <h3>The Architect of Pain</h3>
              </a>
              <p>Here are some of those troubles. For let him flee from pain or not, and you must rightfully do so. For we lead the corrupt to refuse.</p>
              <a href="{% url 'service_details' %}" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

  </main>

  <footer id="footer" class="footer dark-background">
    <div class="container">
      <h3 class="sitename">Personal Portfolio</h3>
      <p>And either he who flees them is nothing. With great physical effort, choosing a flight is often the most convenient thing to do.</p>
      <div class="social-links d-flex justify-content-center">
        <a href="https://x.com/King1834931"><i class="bi bi-twitter-x"></i></a>
        <a href="https://t.me/Sigma_Boy_No1"><i class="bi bi-telegram"></i></a>
        <a href="https://www.instagram.com/godwilling_python_programmer/"><i class="bi bi-instagram"></i></a>
        <a href="https://github.com/siteoo55555"><i class="bi bi-github"></i></a>
        <a href="https://www.youtube.com/@maxmudmamadaliyev624"><i class="bi bi-youtube"></i></a>
      </div>
      <div class="container">
        <div class="credits">
          Designed by <a href="https://t.me/Sigma_Boy_No1"> 🅱︎🅰︎🅲🅺🅴🅽🅳 🅳🅴🆅🅴🅻🅾︎🅿︎🅴🆁💻👨‍💻</a>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>